<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Scrape. Save. Read.</h1>
    <p class="lead">News articles from the Choice City.</p>
    <a class="btn btn-block btn-success" href="/scrape" role="button">Scrape Now</a>
  </div>
</div>

<div id="article-box">
  <div class="container">
    {{#if article}}
    {{#each article}}
    {{#unless isFavorite}}
    <div class="card">
      <div class="card-body">
        <a href="{{link}}" target="_blank">
          <h5 class="card-title">{{title}}</h5>
        </a>
        <button data-id={{_id}} class="btn btn-primary favorite">Favorite</button>
      </div>
    </div>
    {{/unless}}
    {{/each}}
    {{else }}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">There aren't any articles yet. Scrape first!</h5>
        <a href="/scrape" class="btn btn-primary">Scrape Now!</a>
      </div>
    </div>
    {{/if}}
  </div>
</div>